<a href="https://colab.research.google.com/github/shreyagauri0803-ui/python/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
factorial=1
sum1=0
for d in range(1,7):
  factorial=factorial*d
  if d % 2==0:
    sum1=sum1+factorial
    print(sum1)

2
26
746

In [ ]:
sum=0
for i in range(1,10,4):
  for

In [ ]:
factorial=1
sum=0
for i in range(1,10):
  factorial=factorial*i
  if i %4==1:
   sum=sum+factorial
   print(sum)

1
121
363001

In [ ]:
factorial=1
sum=0
for i in range(2,11):
  factorial=factorial*i
  if i %4==2:
    sum=sum+factorial
    print(sum)

2
722
3629522

In [ ]:
sum=0
for i in range(2,11,4):
  factorial=1
  for j in range(2,i+1):
    factorial=factorial*j
  sum=sum+factorial
  print(sum)

2
722
3629522

In [ ]:
factorial=1
sum=0
for i in range(3,14):
  factorial=factorial*i
  if i %5==3:
    sum1=sum+factorial
    print(sum1)

3
20160
3113510400

In [ ]:
sum=0
factorial=1
for j in range(14,27):
  factorial=factorial*j
  if j %6==2:
    sum2=sum+factorial
    print(sum2)
    total_sum=sum1+sum2
    print(total_sum)

14
6227020814
390700800
6617721600
64764752532480000
64764758759500800

In [10]:
sum=0
for a in range(3,14,5):
  factorial=1
  for b in range(3,a+1):
    factorial=factorial*b
    sum1=sum+factorial
print(sum1)

3113510400

In [16]:
sum=0
for a in range(3,14,5):
  factorial=1
  for b in range(3,a+1):
    factorial=factorial*b
    sum1=sum+factorial
    print(sum1)

3
3
12
60
360
2520
20160
3
12
60
360
2520
20160
181440
1814400
19958400
239500800
3113510400

In [19]:
sum=0
for c in range(14,27,6):
  factorial=1
  for d in range(14,c+1):
    factorial=factorial*d
    sum2=sum+factorial
    print(sum2)
    total_sum=sum1+sum2
print(total_sum)

14
14
210
3360
57120
1028160
19535040
390700800
14
210
3360
57120
1028160
19535040
390700800
8204716800
180503769600
4151586700800
99638080819200
2490952020480000
64764752532480000
64764755645990400