<a href="https://colab.research.google.com/github/shreyagauri0803-ui/python/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
factorial=1
sum1=0
for d in range(1,7):
  factorial=factorial*d
  if d % 2==0:
    sum1=sum1+factorial
    print(sum1)

2
26
746

In [ ]:
sum=0
for i in range(1,10,4):
  for

In [13]:
factorial=1
sum=0
for i in range(1,10):
  factorial=factorial*i
  if i %4==1:
   sum=sum+factorial
   print(sum)

1
121
363001

In [19]:
factorial=1
sum=0
for i in range(2,11):
  factorial=factorial*i
  if i %4==2:
    sum=sum+factorial
    print(sum)

2
722
3629522

In [20]:
sum=0
for i in range(2,11,4):
  factorial=1
  for j in range(2,i+1):
    factorial=factorial*j
  sum=sum+factorial
  print(sum)

2
722
3629522

In [54]:
factorial=1
sum=0
for i in range(3,14):
  factorial=factorial*i
  if i %5==3:
    sum1=sum+factorial
    print(sum1)

3
20160
3113510400

In [53]:
sum=0
factorial=1
for j in range(14,27):
  factorial=factorial*j
  if j %6==2:
    sum2=sum+factorial
    print(sum2)
    total_sum=sum1+sum2
    print(total_sum)

14
6227020814
390700800
6617721600
64764752532480000
64764758759500800

In [56]:
sum=0
for a in range(3,14,5):
  factorial=1
  for b in range(3,a+1):
    factorial=factorial*b
    sum1=sum+factorial
    print(sum1)

3
3
12
60
360
2520
20160
3
12
60
360
2520
20160
181440
1814400
19958400
239500800
3113510400

In [61]:
sum=0
for c in range(14,27,6):
  factorial=1
  for d in range(14,c+1):
    factorial=factorial*b
    sum2=sum+factorial
    print(sum2)
    total_sum=sum1+sum2
    print(total_sum)

13
3113510413
13
3113510413
169
3113510569
2197
3113512597
28561
3113538961
371293
3113881693
4826809
3118337209
62748517
3176258917
13
3113510413
169
3113510569
2197
3113512597
28561
3113538961
371293
3113881693
4826809
3118337209
62748517
3176258917
815730721
3929241121
10604499373
13718009773
137858491849
140972002249
1792160394037
1795273904437
23298085122481
23301198632881
302875106592253
302878220102653